body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header{
    width: 100%;
    padding: 2rem ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .nav{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-right: 3rem;
}

.title-container{
    display: flex;
}