*{
    text-decoration: none;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.header{
    width: 100%;
    padding: 0 2rem ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .nav{
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    width: 30%;
    gap: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.header .nav a{
    margin-left: 1rem;
    color: black;
}

.header .nav .app{
    font-size: 1.5rem;
}

.header .nav .user{
    text-align: center;
    color:white;
    padding: 8px 16px;
    border-radius: 50%;
    background-color: blueviolet;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    max-width: 100vw;
}

.logo-container{
 max-width: 400px;
}

.logo-container img{
    width: 100%;
}

.input-container{
   text-align: center;
    position: relative;
    width: 40rem;
}

.input-container input{
    width: 100%;
    border-radius: 30px;
    padding: 1rem 2.5rem;
    border: 1px solid rgba(128, 128, 128, 0.329);
    
}

input:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-container i{
    position: absolute;
}

.input-container i:nth-child(2){
    top: 1rem;
    left: 1rem;
    font-size: 1.2rem;
}

.input-container i:nth-child(3){
    top: 1rem;
    right: -2rem;
    font-size: 1.2rem;
    color: #EA4335;
}

.input-container i:nth-child(4){
    top: 1rem;
    right: -4rem;
    font-size: 1.2rem;
    color:#4285F4;
}

.tex-container{

    width: 400px;
    display: flex;
    justify-content: space-between;
    
}

.tex-container a{
    background-color: #ebebeb81;
    padding: .5rem 1rem;
    color: black;
}

.tex-container a:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.ftr-one{
    width: 100%;
    height: 3rem;
    background:#ebebeb81 ;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.ftr-two{
    width: 100%;
    height: 3rem;
    background:#ebebeb81 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.103);
}


.ftr-two .txt-cont1 a{
    margin-left: 1rem;
    color: black;
}


.ftr-two .txt-cont2 a{
    margin-left: 1rem;
    color: black;
}



